/* Table of Contents

Foundational styles
body - line 9 - controls body elements on page

Image specific 

 */

html {
    height: 100%;
}

body {
  background: url(earth.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#title {
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}

#searchInput {
  max-width: 600px;
}

.container {
  max-width: 600px!important;
}

.button {
  background: url(submit-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  outline: none;
  float: left;
  margin: 30px 0 0 0;
}

#input-background {
  background-color:#ffffff;
}

#contentShow {
  padding: 0px;
}